.Photo {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 767px) {
  .Photo {
    width: 25rem;
    text-align: center;
    margin-left: 12rem;
  }
}
