.Photo {
    border-radius:100%;
    margin:10% auto 0;
    overflow:hidden;
    width: 100%;
}

@media (max-width: 767px) {
    .Photo {
        width: 25rem;
        text-align: center;
        margin-left: 12rem;
    }
}