*{margin:0; padding:0;}

body {width:1000; overflow-x:hidden;}

h1,h2,h3,p, a{font-family:'Open Sans',sans-serif !important; color:black;}
a{text-decoration:none;}
li{list-style:none;}
.background2{background-color:#FFFFFF;}
.background1{background-color:#F5F5F5;}
.background-theme{background-color:#FF1919;}
h2, h3 {color:#FF4747;}
.extra-line-to-fix-losing-color-bug{opacity:0;}
.extra-line-to-fix-losing-color-bug p{font-size:1px;}

#background{float:left; height:100vh; width:100vw; z-Index:-6; opacity:0.2;}

#myname_wrap{width:100vw; float:left; margin-top:-60vh; position:relative;}
#myname{float:left; position:relative; left:50%}
#myname h1{position:relative; color:white; left:-50%; font-weight:700; font-size:63px; cursor:pointer;}
/* TODO: there is a bug when the browser becomes too small */
#name_tag{float:right; position:relative; margin-top:73px; right:50%;}
#name_tag p{position:relative; right:-50%; font-size:21px; font-weight:300; color:white; margin-top:10px;}
#name_tag p img{background-color:red;}
#name_tag hr{position:relative; left:50%; border:1px solid #cccccc;}

.before_scroll{width:8%; list-style:none; position:absolute; top:105%; right:3%;}
.after_scroll{width:8%; list-style:none; position:fixed; top:20%; right:3%;}
.viewing_part{display:block; width:100%; text-decoration:none; height:80px; line-height:80px; background-color:#FF4747; color:white; text-align:center;}
.not_viewing_part{display:block; width:100%; text-decoration:none; height:80px; line-height:80px; background-color:black; color:white; text-align:center;}
#navigation li a:hover{background-color:#FF4747;}

.part{width:60%; text-align:center; margin:0 auto; padding-top:3%; padding-bottom:3%; overflow:hidden;}
.title, .quote{text-align:center;}
.title{padding-top:8%; margin-bottom:3%; font-size:54px; font-weight:300;}
.quote{margin:2% auto 4%; font-size:21px; color:#727878;}
#about{float:left; width:33%; text-align:left; margin:8% auto 4%; overflow:hidden;}
#contact{float:right; width:33%; text-align:left; margin:8% auto 4%; overflow:hidden;}
#about h3, #contact h3{font-size:30px; margin-bottom:10%; font-weight:100;}
#about p, #contact p{line-height:1.5em; color:#434242;}
#photo{border-radius:100%; margin:10% auto 0; overflow:hidden;}
.part p, .part  a{line-height:1.5em; color:#434242;}

.left{margin-right:4%;}
.ability_list{float:left; text-align:left; margin:8% auto 6%; overflow:hidden; width:100%;}
.ability_list h3{font-size:30px; margin-bottom:3%; font-weight:100;}
.col{float:left; width:48%;}
.col li span{line-height:1.64; color:#434242;}
.starlist {float:right; height:1.64; line-height:1.64;}
.starlist li{float:left;}
.false{opacity:0.2;}

.proj{float:left; width:48%; overflow:hidden; margin-top:5%; position:relative; cursor:pointer;}
.proj h3, .proj p {color:#FFFFFF;}
.proj img{width:100%; margin:0 auto; position:relative; display:block;}
.proj div{display:none;}
.proj_name{position:absolute; font-size:20px; margin:-55% 0 0 5%; text-align:left;}
.proj div hr {position:absolute; margin-top:-45%; left:5%; color:#FFFFFF;}
.proj_content{position:absolute; margin:-35% 0 0 100%; text-align:left; width:90%;}
.proj_tag{position:absolute; margin:-22% 0 0 100%; text-align:left; width:90%;}

#footer{height:10vh; margin:0 auto; text-align:center;; vertical-align:middle; background-color:black;}
.text-nowrap{position: relative; top:50%; color:#e3e7ed; font-size:1.5vh;}
