@import '../Resume.module.css';

.Navigation {
    position: fixed;
    top:20%; 
    right:3%;
    z-index: 100;
}

.Navigation0 {
    position: absolute;
    top: calc(100vh - 6vh); /* -6 is from below height of Active and Inactive 6vh */
    right: 3%;
    z-index: 100;
}

.Navigation .Inactive, .Navigation0 .Inactive {
    display: block;
    color: var(--resume-second-dominant);
    background-color:var(--resume-last-dominant);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    width: 8vw;
    height: 6vh;
}

.Navigation .Active,.Inactive:hover, .Inactive:hover {
    cursor: pointer;
    background-color: var(--resume-dominant);
    transition: transform 0.1s linear;
    transform: scale(1.2, 1.2);
}

.Navigation0 .Active:first-of-type {
    cursor: pointer;
}

.Navigation0 .Active ~ .Navigation0 .Active {
    cursor: pointer;
    background-color: var(--resume-dominant);
    transition: transform 0.1s linear;
    transform: scale(1.2, 1.2);
}

.Navigation .Active, .Navigation0 .Active {
    background-color: var(--resume-dominant);
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    width: 8vw;
    height: 6vh;
    display: block;
    color: var(--resume-second-dominant);
}

.Navigation .Arrow {
    animation: ArrowUp 0.5s linear alternate;
}

.Navigation0 .Arrow {
    animation: 
        turnArrowDown 0.5s linear,
        ArrowDown 1s 0.5s linear alternate infinite;
}

@keyframes turnArrowDown {
    from   { transform: rotateX(0deg); }
    to { transform: rotateX(180deg); }
}

@keyframes ArrowDown {
    0%   { transform: rotateX(180deg) translateY(0); }
    50%  { transform: rotateX(180deg) translateY(-10px); }
    100% { transform: rotateX(180deg) translateY(0); }
}

@keyframes ArrowUp {
    from { transform: rotateX(180deg); }
    to { transform: rotateX(0deg); }
}
