@import '../Life.module.css';

.FootPage {
    height:10vh;
    background-color: var(--life-last-dominant);
    display: flex;
    align-items: center;
    justify-content: center;
}

.FootPage .FootTag {
    color:var(--life-second-dominant);
    font-size:1.5vh;
}