@import '../Life.module.css';

.PhotoAlbum {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-width: 5px;
    border-style: groove groove groove none;
}

.PhotoAlbum .Notes {
    width: 80%;
    height: 5vh;
    margin: auto;
    display: flex;
    align-items: flex-end;
    margin-bottom: 1vh;
}

.PhotoAlbum .Title {
    width: 80%;
    height: 5vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
}

.PhotoAlbum .PhotoList {
    width: 100%;
    height: 40vh;
    display: flex;
}

.PhotoAlbum .Photo {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

.PhotoAlbum .Photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: .5s;
}

.PhotoAlbum .Photo:hover { 
    flex: 1 1 50%; 
}

.PhotoAlbum .Photo:hover > img {
    width: 100%;
    height: 100%;
}