@import '../Resume.module.css';

.Tag {
    font-size: 1rem; 
    font-weight:500; 
    color:var(--resume-second-dominant);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Tag .Separater {
    height: 1rem;
    width: 1rem;
    margin: auto 0.05rem;
}

.NameColor {
    color: var(--resume-second-dominant);
}

.DownloadDiv {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
}

.Download {
    display: block;
    padding: 0.25rem;
    box-shadow: 0.1rem;
    box-sizing: border-box;
    border-style: groove;
    border-radius: 0.025rem;
    border-color: var(--resume-third-dominant);
    color: var(--resume-second-dominant);
    background-color: var(--resume-dominant);
    font-size: 1rem; 
}

.Download:hover {
    text-decoration: none;
    color: var(--resume-second-dominant);
    transform: scale(1.1, 1.1);
    background-color: var(--resume-third-dominant);
    transition: transform 0.3s;
}